@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root:root {
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;

  --adm-font-size-1: 6px;
  --adm-font-size-2: 7px;
  --adm-font-size-3: 8px;
  --adm-font-size-4: 9px;
  --adm-font-size-5: 10px;
  --adm-font-size-6: 11px;
  --adm-font-size-7: 12px;
  --adm-font-size-8: 13px;
  --adm-font-size-9: 13px;
  --adm-font-size-10: 16px;

  --adm-font-family: -apple-system, blinkmacsystemfont, "Helvetica Neue",
    helvetica, segoe ui, arial, roboto, "PingFang SC", "miui",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.adm-form-item-label{
  line-height: 2!important;
}

.adm-list-item-content-main{
  display: flex;
  align-items: center;
}
.adm-list-default .adm-list-body{
  border-bottom: 0!important;
}
.adm-form-footer{
  padding-top: 8px!important;
}
.adm-checkbox .adm-checkbox-icon{
  width: 15px!important;
  height: 15px!important;
}